.id{
    width: 60px;
}

.user{
    width: 200px;
}

.name{
    width: 200px;
}

.habi{
    width: 95px;
}

.fecNac{
    width: 120px;
}

.obs{
    width: 125px;
}

.loc{
    width: 125px;
}

.new{
    width: 118px;
}

.boton{
    width: 25px;
}

.boton2{
    width: 50px;
}